<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>



   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated featuremodel -->
      <package
            uri="http://de.imotep.variability/featuremodel"
            class="de.imotep.featuremodel.variability.metamodel.FeatureModel.FeatureModelPackage"
            genModel="model/featuremodel.genmodel"/>
   </extension>


</plugin>
